.all-section {
  width: 1200px;
  margin: 120px 186px !important;
}

.article-title {
  font-size: 18px;
  margin-top: 27px;
}

.all-base-image {
  width: 100%;
  max-width: 384px;
  border-bottom: 4px solid #cf1430;
}

.button-container {
  border-bottom: 1px solid #cf1430;
  width: fit-content;
}

@media screen and (max-width: 1400px) {
  .all-section {
    max-width: 100%;
  }

  .grid-container {
    align-items: center;
    margin-bottom: 40px;
    max-width: 384px;
  }

  .all-paragraph {
    text-align: center;
    max-width: 384px;
  }

  .article-title {
    text-align: center;
  }
}
